{% extends "Main/base.html" %}

{% block content_title %}
    Agregar Vehículo
{% endblock content_title %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_marca" class="form-label">Marca</label>
                    {{ form.marca }}
                </div>

                <div class="mb-3">
                    <label for="id_modelo" class="form-label">Modelo</label>
                    {{ form.modelo }}
                </div>

                <div class="mb-3">
                    <label for="id_pais" class="form-label">País</label>
                    {{ form.pais }}
                </div>

                <div class="mb-3">
                    <label for="id_fabricante" class="form-label">Fabricante</label>
                    {{ form.fabricante }}
                </div>

                <div class="mb-3">
                    <label for="id_tipo_vehiculo" class="form-label">Tipo de Vehículo</label>
                    {{ form.tipo_vehiculo }}
                </div>


                </br>
                </br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'Aplicacion:post_listar' %}" class="btn btn-secondary">Cancelar</a>
            </form>


            </br>
            </br>

            <!-- Aquí va la tabla, fuera del <form> -->
            <hr>

            <h4 class="mt-4">Vehiculos registrados</h4>

            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Pais</th>
                        <th>Fabricante</th>
                        <th>Tipo de Vehiculo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehiculo in vehiculos %}
                        <tr>
                            <td>{{ vehiculo.marca }}</td>
                            <td>{{ vehiculo.modelo }}</td>
                            <td>{{ vehiculo.pais }}</td>
                            <td>{{ vehiculo.fabricante }}</td>
                            <td>{{ vehiculo.tipo_vehiculo }}</td>
                            <td>
                                <!-- Botón Editar (link) -->
                                <button type="button" class="btn btn-warning btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalEditarVehiculo"
                                        data-id="{{ vehiculo.id }}"
                                        data-marca="{{ vehiculo.marca }}"
                                        data-modelo="{{ vehiculo.modelo }}"
                                        data-pais="{{ vehiculo.pais }}"
                                        data-fabricante="{{ vehiculo.fabricante.id }}"
                                        data-tipo="{{ vehiculo.tipo_vehiculo.id }}">                                       
                                    Editar
                                </button>

                                <!-- Botón Eliminar (abre modal de confirmación) -->
                                <button type="button"
                                        class="btn btn-danger btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalConfirmarEliminacion"
                                        data-id="{{ vehiculo.id }}">
                                    Eliminar
                                </button>
                            </td>
                        </tr>

                        {% empty %}
                            <tr>
                                <td colspan="5">No hay vehiculos registrados aún.</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>            


        </div>
    </div>


    <!-- Modal Editar Fabricante -->
    <div class="modal fade" id="modalEditarVehiculo" tabindex="-1" aria-labelledby="modalEditarVehiculoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formEditarVehiculo" method="post" action="">
                    {% csrf_token %}
                        <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarVehiculoLabel">Editar Vehiculo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="edit_marca" class="form-label">Marca</label>
                            <input type="text" class="form-control" id="edit_marca" name="marca" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit_modelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control" id="edit_modelo" name="modelo" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit_pais" class="form-label">País de Origen</label>
                            <input type="text" class="form-control" id="edit_pais" name="pais" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit_fabricante" class="form-label">Fabricante</label>
                            <select class="form-select" id="edit_fabricante" name="fabricante" required>
                                {% for fab in fabricantes %}
                                    <option value="{{ fab.id }}">{{ fab.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="edit_tipo" class="form-label">Tipo de Vehículo</label>
                            <select class="form-select" id="edit_tipo" name="tipo_vehiculo" required>
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal Éxito al agregar -->
    <div class="modal fade" id="modalCreado" tabindex="-1" aria-labelledby="modalCreadoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalCreadoLabel">Registro exitoso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    El Vehiculo fue registrado correctamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    {% if fue_creado %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var modal = new bootstrap.Modal(document.getElementById('modalCreado'));
                modal.show();
            });
        </script>
    {% endif %}



    <!-- Modal Éxito al eliminar -->
    <div class="modal fade" id="modalEliminado" tabindex="-1" aria-labelledby="modalEliminadoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalEliminadoLabel">Vehículo eliminado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    El vehículo fue eliminado correctamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    {% if eliminado %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var modal = new bootstrap.Modal(document.getElementById('modalEliminado'));
                modal.show();
            });
        </script>
    {% endif %}



    <!-- Modal Confirmar Eliminación -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="modalConfirmarEliminacionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" id="formEliminar">
                    {% csrf_token %}
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="modalConfirmarEliminacionLabel">Confirmar eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar este vehículo?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% block scripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const modalEliminar = document.getElementById('modalConfirmarEliminacion');
                const formEliminar = document.getElementById('formEliminar');

                modalEliminar.addEventListener('show.bs.modal', function (event) {
                    const button = event.relatedTarget;
                    const id = button.getAttribute('data-id');

                    formEliminar.action = `/Aplicacion/post_eliminar_vehiculo/${id}/`;
                });
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const modalEditar = document.getElementById('modalEditarVehiculo');
                const formEditar = document.getElementById('formEditarVehiculo');

                modalEditar.addEventListener('show.bs.modal', function (event) {
                    const button = event.relatedTarget;
                    const id = button.getAttribute('data-id');
                    const marca = button.getAttribute('data-marca');
                    const modelo = button.getAttribute('data-modelo');
                    const pais = button.getAttribute('data-pais');
                    const fabricante = button.getAttribute('data-fabricante');
                    const tipo = button.getAttribute('data-tipo');

                    document.getElementById('edit_marca').value = marca;
                    document.getElementById('edit_modelo').value = modelo;
                    document.getElementById('edit_pais').value = pais;
                    document.querySelector('#edit_fabricante').value = parseInt(fabricante);
                    document.querySelector('#edit_tipo').value = parseInt(tipo);

                    formEditar.action = `/Aplicacion/post_editar_vehiculo/editar/${id}/`;
                });
            });
        </script>
    {% endblock scripts %}



{% endblock content %}
