{% extends "Main/base.html" %}

{% block content_title %}
    Cambiar Contraseña
{% endblock content_title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            </br>
            </br>

            <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
            <a href="{% url 'Main:perfil' %}" class="btn btn-outline-dark">Volver al perfil</a>
        </form>
    </div>
</div>
{% endblock content %}
