{% extends "Main/base.html" %}

{% block content_title %}
    Perfil
{% endblock content_title %}


{% block content %}
        
    <div class="card">
        <div class="card-body">

                 <div class="row">
                    <div class="mb-3">
                        <label for="id_username" class="form-label fw-bold">Nombre Usuario</label>
                        {{ form.username }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label fw-bold">Nombre</label>
                            {{ form.first_name }}
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label for="id_last_name" class="form-label fw-bold">Apellido</label>
                            {{ form.last_name }}
                        </div>
                    </div>                        
                </div>


                 <div class="row">
                    <div class="mb-3">
                        <label for="id_email" class="form-label fw-bold">Email</label>
                        {{ form.email }}
                    </div>
                </div>                

                </br>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_is_active" class="form-check-label fw-bold">Activo</label>
                            {{ form.is_active }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_is_staff" class="form-label fw-bold">Puede entrar al panel admin</label>
                            {{ form.is_staff }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_is_superuser" class="form-label fw-bold">Tiene todos los permisos</label>
                            {{ form.is_superuser }}
                        </div>
                    </div>                                          
                </div>

                </br>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_last_login" class="form-label fw-bold">Último inicio de sesión</label>
                            {{ form.last_login }}
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label for="id_date_joined" class="form-label fw-bold">Fecha de creación de la cuenta</label>
                            {{ form.date_joined }}
                        </div> 
                    </div>                        
                </div>


                <hr>

                <h5>Información adicional</h5>
                
                </br>
                
                <div class="row">
                    <div class="mb-3">
                        <label for="id_avatar" class="form-label">Avatar</label><br>
                        {% if perfil_usuario.avatar %}
                            <img src="{{ perfil_usuario.avatar.url }}" alt="Avatar" width="150" height="150">
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="id_biografia" class="form-label fw-bold">Biografía</label>
                        {{ perfil_usuario.biografia }}
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="id_link" class="form-label fw-bold">Link personal</label>
                        {{ perfil_usuario.link }}
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="id_fecha_nacimiento" class="form-label fw-bold">Fecha de nacimiento</label>
                        {{ perfil_usuario.fecha_nacimiento }}
                    </div>
                </div>

            </br>

            <a href="{% url 'Main:editar_perfil' %}" class="btn btn-success">Editar Perfil</a>
            <a href="{% url 'Main:password_change' %}" class="btn btn-warning">Cambiar Contraseña</a>
            <a href="{% url 'Main:index' %}" class="btn btn-outline-dark">Cancelar</a>

        </div>
    </div>

{% endblock content %}