{% extends "Main/base.html" %}


{% block content_title %}
    Registro de Usuario
{% endblock content_title %}

{% block content %}



    <div class="card">
        <div class="card-body">

            <div class="mb-3">
                <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Registrarse</button>
                </form>

                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'Main:editar_perfil' %}" class="btn btn-secondary">Editar Perfil</a>
            </div>

        </div>
    </div>  

  
  
{% endblock %}
